@import '../../styles/vars';


.search-box {
  border-radius: .5em;
  padding: 1rem 2rem;
  background-color: $color-bg-lighter;
  margin-bottom: 3rem;
}

.search-box__search-line {
  display: flex;
  column-gap: 10%;
  margin-bottom: 1rem;
}

.search-box__options {
  display: flex;
  gap: 1rem;
}

.search-box__input {
  font-size: $fz-primary;
  width: 80%;
}

.search-box__btn {
  width: 10%;
}

.options__select {
  padding: .25rem 0.5rem;
  cursor: pointer;
}